body{
  overflow:hidden
}

.header{
  background-color:#4169e1;
  padding:150px;
}

.header-logo{
  float:left;
  font-size:70px;
  padding:20px;
  color:white;
  
}

.header-list li{
  list-style:none;
  float:left;
  font-size:40px;
  padding:20px;
  color:white;
  
}
.main{
  background-color:#7fddd4;
   padding:270px;
}
.footer{
  background-color:#696969;
  padding:50px;
  
}
